:root{
    --pri-bg : hsl(233, 47%, 7%);
    --pri-card-bg : hsl(244, 38%, 16%);
    --pri-accent: hsl(277, 64%, 61%);
    --white : hsl(0, 0%, 100%);
    --p-transparent-white : hsla(0, 0%, 100%, 0.75);
    --h-transparent-white : hsla(0, 0%, 100%, 0.6);
    --f-inter : 'Inter', sans-serif;
    --f-lexend-deca : 'Lexend Deca', arial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    min-height: calc(100vh - 1px);
    background-color: var(--pri-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

main{
    /* width: 400px;
    max-width: 910px; */
/*    width: 300px;
    /* width: minmax(375px, 900px); */
/*    display: flex;
    flex-direction:column;
    margin: 3em 1.5em;
    /* margin: 5vh auto; */
/*    border-radius: .5em;
    background-color: var(--pri-card-bg);
}

.card-image{
    width: 300px;
    height: 200px;
    background:url("./images/image-header-mobile.jpg"),
    rgba(113, 78, 146, 0.993);
    background-blend-mode: overlay ;
    background-size:cover;
    /* filter: blur(1px); */
 /*   border-radius: .5em .5em 0 0;
}
.insights-info{
    width: 100%;
    color:hsl(0, 0%, 100%);
    padding: 2em;
    text-align: center;
    border-radius: 0 0 .5em .5em;
}
.insights-info > h1{
    font-size: 1.5rem;
    font-family: var(--f-inter);
    font-size: minmax(1rem, 1.5rem);
    font-weight: 700;
    margin-bottom: .75em;
}
h1 > span{
    color:var(--pri-accent);
}
h1 + p{
    font-family: var(--f-lexend-deca);
    color: var(--p-transparent-white);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2em;
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.col h2{
    font-family: var(--f-inter);
    color: --h-transparent-white;
    font-size: 1.3rem;
    font-weight: 700;
}
.col p{
    font-size: 14px;
    font-family: var(--f-lexend-deca);
    color: var(--p-transparent-white);
    text-transform: uppercase;
    font-weight: 400;
    padding-top: .2em;
}
@media (min-width: 700px ){
    html{
        font-size: 15px;
    }
    main{
        width:auto;
        flex-direction: row-reverse;
    }
    .card-image{
        width: 50%;
        height: 300px;
    }
    .insights-info{
        width: 45%;
        padding: 0;
        margin: 2em;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stats{
        flex-direction: row;
    }
}
*/

body{
    background-color: var(--pri-bg);
    color: var(--white);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.container{
    min-width: 270px;
    max-width: 900px;
    margin-inline : 2em;
    background-color: var(--pri-card-bg);
    display: flex;
}
.card{
    display: flex;
    border: 2px solid white;
    border-radius: .5em;
    overflow: hidden;
}
.card-image{
    background: url('./images/image-header-desktop.jpg'), hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    background-size: cover;
    width: 50%;
    height: 100%;
}
.insight-info{
    width: 50%;
    padding: 2em 3em 2em 2em;
}
.insight-info h1{
    font-family: var(--f-inter);
    font-size: 1.6rem;
}
.insight-info span{
    color:hsl(277, 64%, 61%);
}
.insight-info p{
    font-family: var(--f-inter);
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 1.5em;
    color: var(--p-transparent-white);
}
.stats{
    display: flex;
    margin-top: 2em;
}
.col > h2{
    font-family: var(--f-inter);
    font-size: 1.3rem;
    font-weight: 700;
}
.col > p{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: var(--f-lexend-deca);
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.6);
}
@media only screen and (max-width: 760px ){
    .container{
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .card-image{
        background: url('./images/image-header-mobile.jpg'), hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    .card{
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .insight-info{
        width: 100%;
    }
    .insight-info h1{
        font-size: 2rem;
        padding-inline: 1em;
    }
    .insight-info p{
        padding-inline : 1.5em;
    }
    .stats{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col{
        margin-bottom: 1.5em;
    }
    .col p{
        margin-top: .5em;
    }
}
@media only screen and (max-width: 500px){
    html{
        font-size: 14px;
    }
    .insight-info{
        padding-inline : .1em
    }
    .insight-info h1{
        padding-inline : .3em;
    }
}